@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
    scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add custom animations */
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave_inverse {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  @apply overflow-hidden absolute left-0 right-0 top-0 bottom-0 m-auto;
}

.waveWrapperInner {
  @apply absolute w-full overflow-hidden h-full bottom-px;
  background-color: black;
}

.bgTop {
  @apply z-10 opacity-0;
}

.bgMiddle {
  @apply z-0 opacity-100;
}

.bgBottom {
  @apply z--10 opacity-70;
}

.wave {
  @apply absolute left-0 w-[200%] h-full;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave_inv {
  @apply absolute right-0 w-[200%] h-full;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 120px;
  animation: move_wave 20s linear infinite;
}

.waveMiddle {
  background-size: 50% 120px;
  animation: move_wave_inverse 20s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
  animation: move_wave 17s linear infinite;
}

#cardevent {
  transition: transform 0.7s ease-in-out;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png');
}

#cardevent:hover .infos {
  transform: translateY(-311px);
}

#cardevent:hover .infos .seats,
#cardevent:hover .infos .txt,
#cardevent:hover .infos .details {
  opacity: 1;
}
